.contact-content {
    height: 100vh;
    /* background-color: rgb(164, 164, 248); */
    /* display: flex; */
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}

.contact-content::after{
    content: "";
    background-image: url('../pic/free.svg.jpg');
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
}